Source: librapidjson
Priority: optional
Maintainer: Danil Osherov <shindo@yandex-team.ru>
Build-Depends:
	debhelper (>= 7),
	cmake (>= 2.8.4),
	valgrind,
	doxygen,
Standards-Version: 3.8.0
Homepage: https://github.com/miloyip/rapidjson
Vcs-git: git://github.com/miloyip/rapidjson.git
Vcs-Browser: https://github.com/miloyip/rapidjson

Package: librapidjson1
Section: libdevel
Architecture: any
Recommends: librapidjson-doc
Depends:
	${misc:Depends},
Description: RapidJSON - Development files
 A fast JSON parser/generator for C++ with both SAX/DOM style API.

Package: librapidjson-doc
Section: doc
Architecture: all
Depends:
	${misc:Depends}
Description: RapidJSON - Documentation
 A fast JSON parser/generator for C++ with both SAX/DOM style API.
