#!/usr/bin/make -f
# -*- makefile -*-

DH_VERBOSE = 1

DEB_PARALLEL_JOBS ?= $(shell getconf _NPROCESSORS_ONLN 2>/dev/null || echo 1)

BUILDDIR := debian/build
DESTDIR := ${CURDIR}/debian/tmp

CMAKE_EXTRA_FLAGS := \
	-DRAPIDJSON_BUILD_DOC=OFF \
	-DRAPIDJSON_HAS_STDSTRING=ON \
	-DCMAKE_CXX_FLAGS=-mno-avx


apply-patches:
	TMP=/tmp patch -p1 --verbose < patch/test-CMakeLists.txt.patch
	TMP=/tmp patch -p1 --verbose < patch/test-unittest.patch

configure-librapidjson: apply-patches
	dh_auto_configure --buildsystem=cmake \
		--sourcedirectory=${CURDIR}/rapidjson --builddirectory=${BUILDDIR}/rapidjson \
		-- ${CMAKE_EXTRA_FLAGS}

build-librapidjson: configure-librapidjson
	set -e; \
		cd ${BUILDDIR}/rapidjson; \
		${MAKE} -j ${DEB_PARALLEL_JOBS}

override_dh_auto_build: \
	build-librapidjson

override_dh_auto_install:
	set -e; \
		cd ${BUILDDIR}/rapidjson; \
		${MAKE} install DESTDIR=${DESTDIR}

override_dh_auto_test:
	set -e; \
		cd ${BUILDDIR}/rapidjson; \
		ctest -V

override_dh_auto_clean:
	dh_auto_clean
	rm -rf ${BUILDDIR}

%:
	dh $@
